.container-body {
    margin: 0;
    font-family: Consolas;
  }
  
  .header-border {
    background-image: linear-gradient(90deg,#41b782,#86d169);
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    display: grid;
    align-items: center;
    padding-right: 10px;
    color: black;
    
  }
  
  .container{
    display: flex;
    padding: 10px 60px;
  }
  
  .carts {
    display: flex;
    font-size: 15px;
    padding-top: 25px;
  }
  
  .cart {
    background-color: #0033cc;
    margin: 15px;
    padding: 15px;
    width: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
  }
  
  
  .container-details {
    padding-left: 80px;
    font-size: 16px;
    font-weight: bold;
    width: 400px;
  }

  .container-cart {
    width: 400px;
  }

  .container-product{
    width: 380px;
  }
  
  .image {
    width: 305px;
    height: 350px;
  }
  
  .product-image {
    border: 1px solid;
    padding: 30px;   
  }
  
  .variants{
    display: block;
    margin: 9px;
    width: 30px;
  }
  
  .color-box {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    display: inline-flex;
  }
  
  button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  
  .disabled {
    background-color: #555555;
    cursor: not-allowed;
  }
  
  .line {
    text-decoration: line-through;
  }

  .user {
    margin: 15px;
  }

  .box {
    margin: 20px 60px;
  }
  
  .box select {
    padding: 10px;
    width: 380px;
    font-size: 18px;
    outline: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
.user-deatils {
  width: 400px;
}

table > tr > th {
  text-align: left;
  padding-left: 10px;
}

table > tr > td {
  text-align: left;
}

.premium {
  color: green;
}

.userCart {
  border: 1px solid;
  margin: 10px;
  width: 95%;
}

.userCart > tr > td {
  width: 20%;
  text-align: center;
}

.userImage {
  width:70px;
  height: 70px;
}

.price {
  padding-left: 20px;
  font-size: 20px;
}

.total {
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
  margin: 10px;
}